.dart_tool/package_config_subset
.packages

.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/package_config_subset
.dart_tool/package_config.json
.packages
.flutter-plugins-dependencies
.flutter-plugins
.dart_tool/package_config_subset
.dart_tool/package_config.json
